body {
    background-image: url('../img/background_body.png');
    background-size: cover;
    background-position: center;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.sidebar {
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

/* Links container takes all space minus profile bar */
.sidebar .links {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 90px; /* reserve space for profile bar */
}

.sidebar a {
  display: block;
  padding: 10px 15px;
  color: #292321;
  text-decoration: none;
  font-weight: 500;
}

.sidebar a:hover,
.sidebar a.active {
  background: #fff3cd;
  border-left: 4px solid #212529;
}

.sidebar a.logout:hover,
.sidebar a.profile-link:hover {
  background: none;
  border-left: none;
}
.profile-link{
  padding: 0  !important;
}

.profile-bar {
  position: absolute; /* fix it at the bottom */
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 10px 15px;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-bar img {
  border: 2px solid #ccc;
}

.profile-bar div h6,
.profile-bar div small {
  margin: 0;
}

.content {
  margin-left: 230px;
  padding: 20px;
}

    
.topbar {
    background-image: url('../img/smartcanteenBanner.png');
    background-size: cover;
    background-position: center;
    min-height: 10px;
    color: #fff; 
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-bottom: 1px solid #d3a74a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    }
    
.card-custom {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(255, 119, 119, 0.05);
    }

.logo {
    height: 80px;
    width: 130px;
    margin: 0 10px 10px 10px;
    }

.recentcard {
    background: linear-gradient(135deg, #ff6449, #ffd175 );
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    }

.btn-dashboard {
   background-color: #343a40;
   color: #fff;
   border: none;
  }
.btn-dashboard:hover {
   background-color: #23272b;
   color: #fff;
  }
